.ge-table tbody .OK {
    background-color: green;
}

.ge-table tbody .unknown{
    background-color: yellow;
}

.ge-table tbody .attention {
    background-color: red;
}

.ge-table tbody .excellent {
    background-color: blue;
}
