.ok {
    background-color: lightgreen !important;
}

.retard{
    background-color: gold !important;
}

.critique {
    background-color: firebrick !important;
}

.legend {
    padding-inline: 10px;
    padding-block: 3px;
    margin-inline-end: 5px;
}

.legend-container {
    display: flex;
    flex-flow: column nowrap;
}

.legend-container > div {
    margin-block: 5px;
}
