.outer-flex {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
}

.flex-col {
    display: flex;
    flex-flow: column nowrap;
}
